<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 24.02.2022, 16:33</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. こんにちは！ よろしくおねがいします！ </p>
        </div>

        <div>
            <p>公開日: 2022/02/24, 16:33</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p> こんにちは！ よろしくお願いします！ </p>
        </div>
    </body>
</html>